<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765965310238-tg91tfiv125miuh03g6dap0hsn5vbv05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765965310238-tg91tfiv125miuh03g6dap0hsn5vbv05</string>
	<key>API_KEY</key>
	<string>AIzaSyBcS80S2AiFlyoSy-kjOzOhWF9WY_LFuR0</string>
	<key>GCM_SENDER_ID</key>
	<string>765965310238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lazyEngineerFlutter</string>
	<key>PROJECT_ID</key>
	<string>lazy-eng1neer</string>
	<key>STORAGE_BUCKET</key>
	<string>lazy-eng1neer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765965310238:ios:6f8a58fa782e16bc3d910f</string>
</dict>
</plist>